Question-1 What are data structures , and why are they important ?
answer - A data structure is a way of organizing and storing data so it can be accessed and manipulated efficiently.
They are important because:-
*   Efficient Data Management
*   Optimized Performance
*   Scalability
*   Relationship Representation

Question-2 Explain the difference between mutable and immutable data types with examples.
answer-
*   Mutable Data Types: Can be changed after creation (e.g., lists, dictionaries).
*   Immutable Data Types: Cannot be changed after creation (e.g., strings, tuples).
Example- Mutable data type
my_list = [1, 2, 3]   
my_list[0] = 10       
print(my_list)      
output will change    
Example- Immutable data type
my_string = "hello"   
my_string[0] = 'H'  
my_string = "Hello"  
print(my_string)    
output will not change

Question-3 What are the main difference between list and tuples in Python ?
answer- The main difference between list and tuples in python is that you can add, modify or remove elements after the list is created. Once a tuple is created, its elements cannot be modified, added, or removed.

Question-4 Describe how dictionaries store data.
answer-Dictionaries in Python store data as key-value pairs. Each key is unique, and it maps to a corresponding value. The dictionary uses a hash table internally, where:
*The key is hashed (converted into a unique index).
*The value is stored at that index in memory.

Question-5 Why you must use set instead of list in Python?
answer-Use a 'set' instead of a 'list' when you need 'unique elements' and faster membership checks. Sets automatically remove duplicates and support efficient operations like union and intersection.

Question-6 Whats is a string in a Python , and how it is different from list?
answer- In Python, a string is a sequence of characters enclosed in single quotes (') or double quotes ("), like "hello" or 'world'.
A 'string' is an immutable sequence of characters, while a 'list' is a mutable collection of items that can be of any data type. Strings store only text, whereas lists can store various types of elements.

Question-7 How do tuples ensure data integerity in Python.
answer- Tuples ensure data integrity in Python by being immutable, meaning once they are created, their contents cannot be changed. This guarantees that the data remains constant and prevents accidental modification.

Question-8 What is a hash table , and how does it relate to dictionaries in Python.
answer- A hash table is a data structure that stores key-value pairs, using a hash function to determine where the value is stored based on the key. Python dictionaries use hash tables, allowing for fast lookups by hashing the key to find the corresponding value efficiently.

Question-9 Can list contain different data type in Python ?
Answer- Yes, a list in Python can contain elements of different data types.

Question-10 Explain why strings are immutable in Python.
answer- Strings are immutable in Python to improve performance, ensure data integrity, and allow them to be used as keys in hash-based structures like dictionaries.

Question-11 What advantage do dictionaries offers over list for certain tasks?
answer- Dictionaries offer faster lookups (O(1)), key-value pair storage for direct access, and uniqueness of keys, making them more efficient than lists for tasks involving fast retrieval and organization of data.

Question-12 Describe a scenario where using a tuple would be preferable over a list.
answer- A tuple is preferable when storing immutable data that should not change, like coordinates or configuration settings, ensuring data integrity and allowing it to be used as a dictionary key.

Question-13 How do sets handle duplicate values in Python?
answer- Sets automatically remove duplicate values and only store unique elements. If you try to add a duplicate value, it will be ignored.

Question-14 How does the "in" keyword work differently for lists and  dictionary .
answer- For lists, the `in` keyword checks if a value exists, while for dictionaries, it checks if a key exists. Lists use linear search (O(n)), and dictionaries use hash lookup (O(1)).

Question-15 Can you modify the elements in tuple? Explain why or why not?
answer- No, you cannot modify elements in a tuple because tuples are  immutable . Once created, their contents cannot be changed to ensure data integrity.

Question-16 What is a nested dictionary , and give an example of its use cases ?
answer- A nested dictionary is a dictionary where the values are themselves dictionaries. It allows you to store hierarchical or complex data.
Example-
students = {
    'Alice': {'age': 20, 'grade': 'A'},
    'Bob': {'age': 22, 'grade': 'B'}
}

Question-17 Describe the time complexity of accessing elements in a dictionary?
answer-  The time complexity of accessing elements in a dictionary is O(1) on average, due to the hash table implementation, allowing for constant-time lookups by key.

Question-18  In what situations are list prefered over dictionaries ?
answer- Lists are preferred over dictionaries when order matters, you need to store duplicates , or when you need a simple, ordered collection of elements that can be accessed by index.

Question-19 Why are dictionaries considered unodered , and how does that affect data retrieval .
answer- Dictionaries are considered unordered because their elements are stored based on hash values , not in a specific order. This affects data retrieval by allowing faster lookups via keys (O(1) time), but the order of elements is not guaranteed.

Question 1 Write a code to create a string with your name and print it .

In [ ]:
a="AKASH RAWAT"
type(a)

str

Question-2 Write a code to find the length of the string "Hello World".

In [1]:
str = "Hello World"
length = len(str)
print(length)

11

Question-3 Write a code to slice the first 3 characters from string " Python Programming".

In [2]:
str = "Python Programming"
sliced_str = str[:3]
print(sliced_str)

Pyt

Question-4 Write a code to convert the string " Hello " to the uppercase.

In [5]:
string = " Hello "
uppercased_string = string.upper()
print(uppercased_string)

 HELLO

Question-5 write a code to replace word "Apple" with "Orange" in the string "I like apple"

In [6]:
string = "I like apple"
new_string = string.replace("apple", "Orange")
print(new_string)

I like Orange

Question-6 Write a code to create a list with numbers 1 to 5 and print it .

In [10]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

Question-7 Write a code to append the numbers 10 to the list [ 1,2,3,4,5]

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 5, 10]

Question-8 Write a code to remove the number 3 from the list[1,2,3,4,5].

In [11]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Question-9 Write a code to access the second element in the list [a,b,c,d]

In [12]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

Question-10 Write a code to reverse the list [ 10,20,30,40,50].

In [13]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

Question-11 Write a code to create tuple with the element 10,20,30  and print it.

In [33]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Question-12 Write a code to access the first element of the  tuple ('apple', 'banana','cherry').

In [32]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

Question-13 Write a code to count how many times 2 appears in tuple (1,2,3,2,4,2).

In [31]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

Question-14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

Question-15  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [19]:
my_tuple = ('apple', 'orange', 'banana')
is_present = 'banana' in my_tuple
print(is_present)

True

 Question-16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [20]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Question-17 Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Question-18  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [22]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

Question-19  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [24]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

Question-20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [25]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

Question-21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

Question-22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [27]:
my_tuple = ('apple', 'orange', 'banana')
is_present = 'banana' in my_tuple
print(is_present)

True

Question-23  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [30]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Question-24  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [29]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}